
body {
 background-image: url('https://media.giphy.com/media/TCiTkPAQQOHM4/giphy.gif');
 -webkit-background-size: cover;
 min-height: 100%;
 overflow: scroll;
background-attachment:fixed;


}

.header{
  font-family: 'Fredoka One', cursive;
  font-size: 8em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.header a{
text-decoration: none;
color: white;
}

.header a:hover{
text-decoration: none;
color: #ebe1df;
}

.keywords {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  color: #e34132;
  text-shadow: 2px 2px #FFFFFF;
}

.container {
  background-color: rgb(240,237,229, .7);
  margin-top: .5em;
  padding: 3em;
}

#searchDisplay {
  list-style: none;
  color: white;
  font-size: 2em;
}

#searchDisplay a{
  text-decoration: none;
  color: white;
  font-size: 2em;
}

#searchDisplay a:hover{
  text-decoration: none;
  color: #e34132;
  font-size: 2em;
  text-shadow: 2px 2px #FFFFFF;
}

.in {
  color: #bfd833;
  text-shadow: 2px 2px black;
  font-family: 'Fredoka One', cursive;
  font-size: 1em;

}

.btn-lg {
  margin-top: 1em;
}
